h1 {
   text-align: center;
}

body{
    width: 100%;
    height: 100%;
    text-align: center;
}

div {
  width: 10%;  
  display: inline-block;
  margin:auto;
  padding: 30px;
  text-align: center;
  background-color: sandybrown;
  color: red;
  border-color: darkblue;
}
div:hover{
  background-color: coral;
  color: yellow
}
.p2{
 transition: background-color 0.5s, color 0.5s;
}
.p3{
  transition: background-color 3s, color 3s;
}
.p4{
  transition: background-color 1s, color 1s;
  transition-delay: 1s;
}
.p1:hover{
transform: scale(1.5);
}

